$color-primary: #4091f0;
$color-white:#ffffff;
$color-grey: #858585;
$btn-primary-color: #8aa838;
$btn-primary-hover: #c1ee45;
$font-title:#2f2f2f;
$font-weight-bold:700;
$font-weight-regular:400;
$font12: .8rem;
$font15: .8rem;
$px0 :0rem;
$px1 : 1rem;
$radius5px: .3rem;
$width100: 100%;
$width50:50%;